extends base

block content 
    main.login-page
        img.logo(src="./assets/logo.svg" alt="logo" )
        h1.title login 
        form.form-control.login-form
            label(for="email") 
                span Email 
                input#email(type="email")
            label(for="password") 
                span password 
                input#password(type="password")
            button.submit Login 
            .dont-have-an-account 
                p 
                | not a member yet? 
                a.register Register

    main.signup-page.inactive
        img.logo(src="./assets/logo.svg" alt="logo")
        h1.title sign-up
        form.form-control.signup-form
            label(for="name") 
                span name 
                input#signup-name(type="text" )
            label(for="email") 
                span Email 
                input#signup-email(type="email" )
            label(for="password" ) 
                span password 
                input#signup-password(type="password" )
            label(for="password" ) 
                span Re-type password 
                input#signup-passwordConfirm(type="password")
            button.submit sign-up 
            .dont-have-an-account 
                p 
                | Already a member  
                a.login login 