extends base

block content 
    .nav 
        img(src="./assets/logo.svg", alt="logo")
    main 
        .info
            h1.header 
                | job 
                span Tracking
                | app 
            p.subheading Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem assumenda sint quibusdam laboriosam explicabo modi voluptatem delectus vero rerum cum fugiat ratione, perspiciatis.
            a(href="/login")  
                button.login login | Register 
        img(src="./assets/heroImg.svg", alt="hero-img")