@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Poppins:wght@300;400;500;700;800&display=swap');

:root{
    --primary-color: #3b82f6;
    --primary-font: 'Lexend', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --text-color: #102a43;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #f0f4f8;
}

main{
    border-top: 5px solid #3b82f6;
    max-width: 400px;
    margin: 3rem auto;
    padding:2rem ;
    background-color: #fff;
}

.logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.title{
    text-align: center;
    font-family: var(--primary-font);
    color: #102a43;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.form-control{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

.form-control>label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

label>span{
    font-size: 1rem;
    color: #102a43;
    font-family: var(--secondary-font);
    text-transform: capitalize;
}

label>input{
    border:1px solid var(--primary-color);
    padding: .5rem;
    border-radius: 5px;
    background-color: #f0f4f8;
}

label>input:focus{
    outline: 2px solid var(--primary-color);
}

.submit{
    font-size: 1.2rem;
    font-family: var(--primary-font);
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 400ms ease-in-out;
}

.submit:hover{
    background-color: #153d7d;
}

.dont-have-an-account{
    width: 100%;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: .8rem;
    letter-spacing: 1px;
}

.dont-have-an-account>p>a{
    text-decoration: none;
    color: var();
    color: var(--primary-color);
    cursor: pointer;
}

.inactive{
    display: none;
}